<div class="container">
    <div class="row">
       <div class="col-md-12">
          <div class="thumbnail">
          <img class="img-rounded" src="/images/{{city}}/{{city}}.png"/>
          </div>
       </div>
    </div>
</div>
   
