<div class="row top30">
  <p class="content">Welcome to <em>{{sitename}}</em></p>
    <div class="col-md-12">
      <div class="thumbnail">
        <img class="img-rounded" src="/images/common/homepage.png"/>
      </div>
    </div>
</div>
